*,
*::before,
*::after {
  box-sizing: border-box; }

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

input,
button,
textarea,
select {
  font: inherit; }

iframe {
  margin-top: 15px; }

a {
  text-decoration: none; }

button {
  cursor: pointer; }

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

h1 {
  font-family: "Graphik LCG", sans-serif;
  color: #222222;
  font-size: 72px;
  font-weight: 700;
  line-height: 110%; }

h2 {
  font-family: "Graphik LCG", sans-serif;
  color: #222222;
  font-size: 42px;
  font-weight: 700;
  line-height: 110%; }

h3 {
  font-family: "Graphik LCG", sans-serif;
  color: #222222;
  font-size: 24px;
  font-weight: 600;
  line-height: 110%; }

h4 {
  font-family: "Graphik LCG", sans-serif;
  color: #222222;
  font-size: 20px;
  font-weight: 700;
  line-height: 110%; }

p {
  font-family: "Graphik LCG", sans-serif;
  color: #4D4D4D;
  font-size: 20px;
  font-weight: 400;
  line-height: 135%; }

.simple__text {
  font-family: "Graphik LCG", sans-serif;
  color: #9298A4;
  font-size: 16px;
  font-weight: 400; }

.subtitle {
  font-family: "Graphik LCG", sans-serif;
  color: #222222;
  font-size: 32px;
  font-weight: 400;
  margin-top: 3px;
  margin-bottom: 30px; }

a {
  font-family: "Graphik LCG", sans-serif;
  color: #1A54CA;
  font-size: 16px;
  font-weight: 400; }

.color__link {
  color: #1A54CA !important; }

input {
  font-family: "Graphik LCG", sans-serif;
  color: #9298A4;
  font-size: 16px;
  font-weight: 400;
  width: 391px;
  border: 1px solid #D4D9E2;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 8px;
  outline: none; }

textarea {
  font-family: "Graphik LCG", sans-serif;
  color: #9298A4;
  font-size: 16px;
  font-weight: 400;
  width: 391px;
  height: 198px;
  border: 1px solid #D4D9E2;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  outline: none;
  resize: vertical; }

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.container {
  width: 1250px; }

.container__additional {
  width: 1290px; }

.btn {
  font-family: "Graphik LCG", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  border-radius: 100px;
  border: none;
  padding: 10px 14px; }

.btn__form {
  font-family: "Graphik LCG", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  width: 195px;
  background: #1A54CA;
  border: none;
  border-radius: 100px;
  padding: 20px 32px;
  transition: .2s ease; }
  .btn__form:hover {
    background: #123a8d; }

.zeroing__indent {
  margin-top: 0 !important; }

.text__indent {
  margin-bottom: 8px !important; }

.teachers__images {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-bottom: 14px; }

.teachers__images-one {
  background: url(../images/teachersOne.jpg);
  background-size: cover; }

.teachers__images-two {
  background: url(../images/teachersTwo.jpg);
  background-size: cover; }

.teachers__images-three {
  background: url(../images/teachersThree.jpg);
  background-size: cover; }

.teachers__images-four {
  background: url(../images/teachersFour.jpg);
  background-size: cover; }

.teachers__images-five {
  background: url(../images/teachersFive.jpg);
  background-size: cover; }

.teachers__images-six {
  background: url(../images/teachersSix.jpg);
  background-size: cover; }

.teachers__images-seven {
  background: url(../images/teachersSeven.jpg);
  background-size: cover; }

.teachers__images-eight {
  background: url(../images/teachersEight.jpg);
  background-size: cover; }

.teachers__images-nine {
  background: url(../images/teachersNine.jpg);
  background-size: cover; }

.teachers__images-ten {
  background: url(../images/noPicture.png);
  background-size: cover; }

.teachers__images-eleven {
  background: url(../images/noPicture.png);
  background-size: cover; }

.teachers__images-twelve {
  background: url(../images/teachersTwenty.jpg);
  background-size: cover; }

.teachers__images-thirteen {
  background: url(../images/teachersTen.jpg);
  background-size: cover; }

.teachers__images-fourteen {
  background: url(../images/teachersEleven.jpg);
  background-size: cover; }

.teachers__images-fifteen {
  background: url(../images/teachersTwelve.jpg);
  background-size: cover; }

.teachers__images-sixteen {
  background: url(../images/teachersThirteen.jpg);
  background-size: cover; }

.teachers__images-seventeen {
  background: url(../images/noPicture.png);
  background-size: cover; }

.teachers__images-eighteen {
  background: url(../images/teachersFourteen.jpg);
  background-size: cover; }

.teachers__images-nineteen {
  background: url(../images/teachersFifteen.jpg);
  background-size: cover; }

.teachers__images-twenty {
  background: url(../images/teachersSixteen.jpg);
  background-size: cover; }

.teachers__images-twenty-one {
  background: url(../images/teachersSeventeen.jpg);
  background-size: cover; }

.teachers__images-twenty-two {
  background: url(../images/teachersEighteen.jpg);
  background-size: cover; }

.teachers__images-twenty-three {
  background: url(../images/noPicture.png);
  background-size: cover; }

.teachers__images-twenty-four {
  background: url(../images/noPicture.png);
  background-size: cover; }

.teachers__images-twenty-five {
  background: url(../images/teachersNineten.jpg);
  background-size: cover; }

.services__images-one {
  background: url(../images/stonemason.jpg) no-repeat;
  background-size: cover; }

.services__images-two {
  background: url(../images/web.jpg) no-repeat;
  background-size: cover; }

.services__images-three {
  background: url(../images/autocad.jpg) no-repeat;
  background-size: cover; }

.services__images-four {
  background: url(../images/accountant.jpg) no-repeat;
  background-size: cover; }

.services__images-five {
  background: url(../images/barber.jpg) no-repeat;
  background-size: cover; }

@font-face {
  font-family: 'Graphik LCG';
  src: local("../fonts/Graphik LCG Regular"), local("Graphik-LCG-Regular"), url("../fonts/GraphikLCG-Regular.woff2") format("woff2"), url("../fonts/GraphikLCG-Regular.woff") format("woff"), url("../fonts/GraphikLCG-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Graphik LCG';
  src: local("../fonts/Graphik LCG Medium"), local("Graphik-LCG-Medium"), url("../fonts/GraphikLCG-Medium.woff2") format("woff2"), url("../fonts/GraphikLCG-Medium.woff") format("woff"), url("../fonts/GraphikLCG-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Graphik LCG';
  src: local("../fonts/Graphik LCG Semibold"), local("Graphik-LCG-Semibold"), url("../fonts/GraphikLCG-Semibold.woff2") format("woff2"), url("../fonts/GraphikLCG-Semibold.woff") format("woff"), url("../fonts/GraphikLCG-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Graphik LCG';
  src: local("../fonts/Graphik LCG Bold"), local("Graphik-LCG-Bold"), url("../fonts/GraphikLCG-Bold.woff2") format("woff2"), url("../fonts/GraphikLCG-Bold.woff") format("woff"), url("../fonts/GraphikLCG-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
.header {
  padding-top: 15px;
  padding-bottom: 60px;
  position: relative; }
  .header .header__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 999; }
    .header .header__wrapper .header__social {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #E8E8E8;
      padding-bottom: 15px; }
      .header .header__wrapper .header__social .header__social-left {
        display: flex;
        align-items: center; }
        .header .header__wrapper .header__social .header__social-left .header__logo {
          background: url(../images/Logo.png) no-repeat;
          width: 149px;
          height: 39px; }
        .header .header__wrapper .header__social .header__social-left .header__common {
          display: flex;
          margin-left: 20px; }
          .header .header__wrapper .header__social .header__social-left .header__common .header__social-link {
            display: flex;
            align-items: center;
            font-family: "Graphik LCG", sans-serif;
            color: #9298A4;
            font-size: 14px;
            font-weight: 400;
            margin-right: 20px; }
            .header .header__wrapper .header__social .header__social-left .header__common .header__social-link:last-child {
              margin-right: 0; }
            .header .header__wrapper .header__social .header__social-left .header__common .header__social-link:hover {
              color: #222222; }
            .header .header__wrapper .header__social .header__social-left .header__common .header__social-link .svg__icon {
              fill: #9298A4;
              transition: fill .2s ease;
              margin-right: 5px; }
          .header .header__wrapper .header__social .header__social-left .header__common .header__social-link:hover .svg__icon {
            fill: #222222; }
      .header .header__wrapper .header__social .header__social-right {
        display: flex; }
        .header .header__wrapper .header__social .header__social-right .header__btn-question {
          color: #1A54CA;
          background: #F4F8FF;
          margin-right: 10px; }
        .header .header__wrapper .header__social .header__social-right .header__btn-in {
          color: #222222;
          background: #F7F7F7; }
          .header .header__wrapper .header__social .header__social-right .header__btn-in .header__btn-icon {
            background: url(../images/Log-out.svg);
            width: 12px;
            height: 12px;
            display: inline-block; }
    .header .header__wrapper .header__nav {
      display: flex;
      margin-top: 19px; }
      .header .header__wrapper .header__nav .header__dropdown {
        width: 165px;
        height: 226px;
        box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px -1px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04); }
      .header .header__wrapper .header__nav .nav__link {
        font-family: "Graphik LCG", sans-serif;
        color: #222222;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        margin-right: 30px; }
  .header .header__dropdown {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 550px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    background-color: #ffffff;
    position: absolute;
    top: 0;
    z-index: 999;
    margin-top: 130px;
    padding: 40px; }
    .header .header__dropdown .header__dropdown-inner {
      display: flex;
      justify-content: center;
      margin-top: 3em; }
      .header .header__dropdown .header__dropdown-inner .header__block {
        display: flex;
        flex-direction: column; }
        .header .header__dropdown .header__dropdown-inner .header__block .dropdown__title {
          margin-bottom: 10px; }
        .header .header__dropdown .header__dropdown-inner .header__block .dropdown__link {
          color: #222222;
          margin-bottom: 4px; }
          .header .header__dropdown .header__dropdown-inner .header__block .dropdown__link:last-child {
            margin-bottom: 0; }

.driving {
  margin-bottom: 60px; }
  .driving .driving__wrapper {
    display: flex;
    flex-direction: column; }
    .driving .driving__wrapper .driving__subtitle {
      color: #222222;
      font-size: 32px;
      margin-top: 3px;
      margin-bottom: 30px; }
    .driving .driving__wrapper .driving__inner {
      display: flex;
      margin-top: 20px; }
      .driving .driving__wrapper .driving__inner .driving__block {
        display: flex;
        flex-direction: column;
        margin-right: 40px; }
        .driving .driving__wrapper .driving__inner .driving__block:last-child {
          margin-right: 0; }
        .driving .driving__wrapper .driving__inner .driving__block .driving__general {
          color: #222222;
          font-weight: 500;
          margin-top: 8px; }

.autopark {
  margin-bottom: 80px; }
  .autopark .autopark__wrapper {
    display: flex;
    flex-direction: column; }
    .autopark .autopark__wrapper .autopark__subtitle {
      max-width: 640px;
      margin-top: 8px; }
    .autopark .autopark__wrapper .autopark__inner {
      display: flex;
      margin-top: 30px; }
      .autopark .autopark__wrapper .autopark__inner .autopark__block {
        display: flex;
        flex-direction: column;
        margin-right: 25px; }
        .autopark .autopark__wrapper .autopark__inner .autopark__block:last-child {
          margin-right: 0; }
        .autopark .autopark__wrapper .autopark__inner .autopark__block .autopark__title {
          margin-top: 10px;
          margin-bottom: 10px; }

.area {
  margin-bottom: 80px; }
  .area .area__wrapper {
    display: flex;
    flex-direction: column; }
    .area .area__wrapper .area__subtitle {
      max-width: 660px;
      margin-top: 8px;
      margin-bottom: 30px; }

.information {
  margin-bottom: 80px; }
  .information .information__wrapper {
    display: flex;
    justify-content: space-between; }
    .information .information__wrapper .information__left {
      display: flex;
      flex-direction: column; }
      .information .information__wrapper .information__left .information__subtitle {
        margin-top: 8px; }
      .information .information__wrapper .information__left .information__inner {
        display: flex;
        margin-top: 30px; }
        .information .information__wrapper .information__left .information__inner .information__block {
          display: flex;
          flex-direction: column;
          max-width: 210px;
          margin-right: 24px; }
          .information .information__wrapper .information__left .information__inner .information__block:last-child {
            margin-right: 0; }
          .information .information__wrapper .information__left .information__inner .information__block .information__indent {
            margin-top: 10px; }
    .information .information__wrapper .information__right {
      display: flex;
      flex-direction: column; }
      .information .information__wrapper .information__right .information__title {
        max-width: 565px;
        margin-bottom: 30px; }
      .information .information__wrapper .information__right .information__more {
        display: flex; }
        .information .information__wrapper .information__right .information__more .information__images-one {
          background: url(../images/moreOne.png) no-repeat;
          margin-right: 24px; }
        .information .information__wrapper .information__right .information__more .information__images-two {
          background: url(../images/moreTwo.png) no-repeat; }
        .information .information__wrapper .information__right .information__more .information__images {
          width: 288px;
          height: 116px; }

.enrollment {
  margin-bottom: 51px; }
  .enrollment .enrollment__wrapper {
    display: flex;
    flex-direction: column;
    background: #F2F5FA;
    padding-left: 23px;
    padding-top: 30px;
    padding-bottom: 25px; }
    .enrollment .enrollment__wrapper .enrollment__inner {
      display: flex;
      justify-content: space-between;
      width: 1101px;
      margin-top: 30px; }
      .enrollment .enrollment__wrapper .enrollment__inner .enrollment__block {
        display: flex;
        flex-direction: column; }
        .enrollment .enrollment__wrapper .enrollment__inner .enrollment__block .enrollment__link {
          max-width: 100px;
          margin-top: 10px; }

.feedback {
  margin-bottom: 80px; }
  .feedback .feedback__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .feedback .feedback__wrapper .feedback__form {
      display: flex;
      flex-direction: column;
      margin-top: 28px; }

.knowledge {
  margin-bottom: 60px; }
  .knowledge .knowledge__wrapper {
    display: flex;
    flex-direction: column; }
    .knowledge .knowledge__wrapper .knowledge__images {
      background: url(../images/btgp.jpg) no-repeat;
      width: 1250px;
      height: 382px;
      background-size: cover; }
    .knowledge .knowledge__wrapper .knowledge__inner {
      display: flex;
      margin-top: 20px; }
      .knowledge .knowledge__wrapper .knowledge__inner .knowledge__block {
        display: flex;
        flex-direction: column;
        margin-right: 40px; }
        .knowledge .knowledge__wrapper .knowledge__inner .knowledge__block:last-child {
          margin-right: 0; }
        .knowledge .knowledge__wrapper .knowledge__inner .knowledge__block .knowledge__general {
          color: #222222;
          font-size: 20px;
          font-weight: 500;
          max-width: 260px;
          margin-top: 8px; }

.teachers {
  margin-bottom: 80px; }
  .teachers .teachers__wrapper {
    display: flex;
    flex-direction: column; }
    .teachers .teachers__wrapper .teachers__inner {
      display: flex;
      flex-direction: column; }
      .teachers .teachers__wrapper .teachers__inner .teachers__additional {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 45px; }
        .teachers .teachers__wrapper .teachers__inner .teachers__additional:last-child {
          margin-bottom: 0; }
        .teachers .teachers__wrapper .teachers__inner .teachers__additional .teachers__block {
          display: flex;
          flex-direction: column; }
          .teachers .teachers__wrapper .teachers__inner .teachers__additional .teachers__block .teachers__title {
            color: #222222;
            font-size: 20px;
            font-weight: 700;
            line-height: 110%;
            max-width: 250px;
            transition: .2s ease; }
            .teachers .teachers__wrapper .teachers__inner .teachers__additional .teachers__block .teachers__title:hover {
              color: #1A54CA; }
          .teachers .teachers__wrapper .teachers__inner .teachers__additional .teachers__block .teachers__subtitle {
            color: #848484;
            font-size: 18px;
            font-weight: 400;
            max-width: 240px;
            margin-top: 4px;
            margin-bottom: 11px; }
          .teachers .teachers__wrapper .teachers__inner .teachers__additional .teachers__block .teachers__link {
            font-size: 18px;
            transition: .2s ease; }
            .teachers .teachers__wrapper .teachers__inner .teachers__additional .teachers__block .teachers__link:hover {
              color: #123a8d; }

.details {
  margin-bottom: 80px; }
  .details .details__wrapper {
    display: flex;
    justify-content: space-between; }
    .details .details__wrapper .details__images {
      width: 330px;
      height: 330px;
      border-radius: 200px;
      margin-right: 30px; }
    .details .details__wrapper .details__description {
      display: flex;
      flex-direction: column; }
      .details .details__wrapper .details__description .details__block {
        margin-bottom: 30px; }
        .details .details__wrapper .details__description .details__block:last-child {
          margin-bottom: 0; }
        .details .details__wrapper .details__description .details__block .details__title {
          font-size: 52px;
          font-weight: 900;
          max-width: 750px; }
        .details .details__wrapper .details__description .details__block .details__subtitle {
          font-size: 24px;
          max-width: 675px;
          margin-top: 11px;
          margin-bottom: 12px; }
        .details .details__wrapper .details__description .details__block .title {
          max-width: 795px; }
        .details .details__wrapper .details__description .details__block .details__text {
          max-width: 860px;
          text-align: justify;
          margin-top: 8px; }
        .details .details__wrapper .details__description .details__block .details__communication {
          display: flex; }
          .details .details__wrapper .details__description .details__block .details__communication .details__link {
            font-size: 24px;
            margin-right: 7px;
            transition: .2s ease; }
            .details .details__wrapper .details__description .details__block .details__communication .details__link:hover {
              color: #123a8d; }
            .details .details__wrapper .details__description .details__block .details__communication .details__link:last-child {
              margin-right: 0; }

.services {
  margin-bottom: 80px; }
  .services .services__wrapper {
    display: flex;
    flex-direction: column; }
    .services .services__wrapper .services__inner {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 30px;
      row-gap: 60px; }
      .services .services__wrapper .services__inner .services__block {
        display: flex;
        flex-direction: column; }
        .services .services__wrapper .services__inner .services__block:last-child {
          margin-right: 0; }
        .services .services__wrapper .services__inner .services__block .services__images {
          width: 395px;
          height: 300px; }
        .services .services__wrapper .services__inner .services__block .services__text {
          margin-top: 10px;
          margin-bottom: 8px; }
        .services .services__wrapper .services__inner .services__block .services__link {
          color: #222222;
          font-size: 24px;
          font-weight: 600;
          line-height: 110%;
          transition: .2s ease; }
          .services .services__wrapper .services__inner .services__block .services__link:hover {
            color: #123a8d; }

.specialties {
  margin-bottom: 80px; }
  .specialties .specialties__wrapper {
    display: flex;
    flex-direction: column; }
    .specialties .specialties__wrapper .specialties__description {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .specialties .specialties__wrapper .specialties__description .specialties__images {
        width: 100%;
        height: 350px; }
    .specialties .specialties__wrapper .specialties__sign {
      display: flex;
      justify-content: space-between;
      background-color: #222222;
      padding: 30px;
      margin-bottom: 30px; }
      .specialties .specialties__wrapper .specialties__sign .specialties__block {
        display: flex;
        flex-direction: column; }
        .specialties .specialties__wrapper .specialties__sign .specialties__block .specialties__title {
          color: #9298A4;
          margin-bottom: 10px; }
        .specialties .specialties__wrapper .specialties__sign .specialties__block .specialties__text {
          color: #ffffff;
          font-size: 25px; }
        .specialties .specialties__wrapper .specialties__sign .specialties__block .specialties__weight {
          font-weight: 700; }
    .specialties .specialties__wrapper .specialties__description-course {
      display: flex;
      justify-content: space-between; }
      .specialties .specialties__wrapper .specialties__description-course .specialties__left {
        display: flex;
        flex-direction: column; }
      .specialties .specialties__wrapper .specialties__description-course .specialties__right {
        display: flex;
        flex-direction: column; }
        .specialties .specialties__wrapper .specialties__description-course .specialties__right .specialties__right-block {
          width: 850px;
          background: #FFFFFF;
          box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
          padding: 30px;
          margin-bottom: 30px; }
          .specialties .specialties__wrapper .specialties__description-course .specialties__right .specialties__right-block .specialties__teachers {
            display: flex;
            justify-content: space-between; }
            .specialties .specialties__wrapper .specialties__description-course .specialties__right .specialties__right-block .specialties__teachers .specialties__teachers-block {
              display: flex;
              flex-direction: column; }
              .specialties .specialties__wrapper .specialties__description-course .specialties__right .specialties__right-block .specialties__teachers .specialties__teachers-block .specialties__images {
                width: 200px;
                height: 200px;
                border-radius: 100px;
                margin-bottom: 14px; }
              .specialties .specialties__wrapper .specialties__description-course .specialties__right .specialties__right-block .specialties__teachers .specialties__teachers-block .specialties__title {
                font-family: "Graphik LCG", sans-serif;
                color: #222222;
                font-size: 20px;
                font-weight: 700;
                line-height: 110%;
                max-width: 250px;
                transition: .2s ease; }
                .specialties .specialties__wrapper .specialties__description-course .specialties__right .specialties__right-block .specialties__teachers .specialties__teachers-block .specialties__title:hover {
                  color: #1A54CA; }

.organization {
  margin-bottom: 80px; }
  .organization .organization__wrapper {
    display: flex;
    flex-direction: column; }
    .organization .organization__wrapper .organization__inner {
      display: flex;
      flex-direction: column; }
      .organization .organization__wrapper .organization__inner .organization__additional {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 45px; }
        .organization .organization__wrapper .organization__inner .organization__additional:last-child {
          margin-bottom: 0; }
        .organization .organization__wrapper .organization__inner .organization__additional .organization__block {
          display: flex;
          flex-direction: column; }
          .organization .organization__wrapper .organization__inner .organization__additional .organization__block .organization__title {
            color: #222222;
            font-size: 20px;
            font-weight: 700;
            line-height: 110%;
            max-width: 250px;
            transition: .2s ease; }
            .organization .organization__wrapper .organization__inner .organization__additional .organization__block .organization__title:hover {
              color: #1A54CA; }
          .organization .organization__wrapper .organization__inner .organization__additional .organization__block .organization__subtitle {
            color: #848484;
            font-size: 18px;
            font-weight: 400;
            max-width: 240px;
            margin-top: 4px;
            margin-bottom: 11px; }
          .organization .organization__wrapper .organization__inner .organization__additional .organization__block .organization__link {
            font-size: 18px;
            transition: .2s ease; }
            .organization .organization__wrapper .organization__inner .organization__additional .organization__block .organization__link:hover {
              color: #123a8d; }
      .organization .organization__wrapper .organization__inner .contact {
        display: flex;
        flex-direction: column; }
        .organization .organization__wrapper .organization__inner .contact .contact__maps {
          display: flex;
          margin-bottom: 40px; }
          .organization .organization__wrapper .organization__inner .contact .contact__maps .contact__btn {
            text-align: center;
            margin-right: 10px; }
            .organization .organization__wrapper .organization__inner .contact .contact__maps .contact__btn:last-child {
              margin-right: 0; }
      .organization .organization__wrapper .organization__inner .contact__block {
        display: flex;
        flex-direction: column; }
        .organization .organization__wrapper .organization__inner .contact__block .contact__link {
          font-size: 20px;
          transition: .2s ease;
          margin-bottom: 8px; }
          .organization .organization__wrapper .organization__inner .contact__block .contact__link:last-child {
            margin-bottom: 0; }
          .organization .organization__wrapper .organization__inner .contact__block .contact__link:hover {
            color: #123a8d; }

.employment {
  margin-bottom: 80px; }
  .employment .employment__wrapper {
    display: flex;
    flex-direction: column; }
    .employment .employment__wrapper .employment__inner {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      row-gap: 30px; }
      .employment .employment__wrapper .employment__inner .employment__block {
        display: flex;
        flex-direction: column; }
        .employment .employment__wrapper .employment__inner .employment__block .employment__images {
          width: 200px;
          height: 200px;
          margin-bottom: 14px; }
        .employment .employment__wrapper .employment__inner .employment__block .employment__images-one {
          background: url(../images/LogoOne.png) no-repeat;
          background-size: cover; }
        .employment .employment__wrapper .employment__inner .employment__block .employment__images-two {
          background: url(../images/LogoTwo.jpg) no-repeat center;
          background-size: cover; }
        .employment .employment__wrapper .employment__inner .employment__block .employment__images-three {
          background: url(../images/LogoThree.png) no-repeat center;
          background-size: cover; }
        .employment .employment__wrapper .employment__inner .employment__block .employment__images-four {
          background: url(../images/LogoFour.png) no-repeat center;
          background-size: cover; }
        .employment .employment__wrapper .employment__inner .employment__block .employment__images-five {
          background: url(../images/LogoFive.jpg) no-repeat center;
          background-size: cover; }
        .employment .employment__wrapper .employment__inner .employment__block .employment__images-six {
          background: url(../images/LogoSix.png) no-repeat center;
          background-size: cover; }
        .employment .employment__wrapper .employment__inner .employment__block .employment__images-seven {
          background: url(../images/LogoSeven.png) no-repeat center;
          background-size: cover; }
        .employment .employment__wrapper .employment__inner .employment__block .employment__images-eight {
          background: url(../images/LogoEight.jpg) no-repeat center;
          background-size: cover; }
        .employment .employment__wrapper .employment__inner .employment__block .employment__images-nine {
          background: url(../images/LogoNine.jpg) no-repeat center;
          background-size: cover; }
        .employment .employment__wrapper .employment__inner .employment__block .employment__images-ten {
          background: url(../images/LogoTen.png) no-repeat center;
          background-size: cover; }
        .employment .employment__wrapper .employment__inner .employment__block .employment__images-eleven {
          background: url(../images/LogoEleven.png) no-repeat center;
          background-size: cover; }
        .employment .employment__wrapper .employment__inner .employment__block .employment__images-twelve {
          background: url(../images/LogoTwelve.png) no-repeat center;
          background-size: cover; }
        .employment .employment__wrapper .employment__inner .employment__block .employment__title {
          color: #222222;
          font-size: 20px;
          font-weight: 700;
          line-height: 110%;
          max-width: 250px; }
        .employment .employment__wrapper .employment__inner .employment__block .employment__subtitle {
          color: #848484;
          font-size: 18px;
          font-weight: 400;
          max-width: 240px;
          margin-top: 4px;
          margin-bottom: 11px; }
        .employment .employment__wrapper .employment__inner .employment__block .employment__link {
          font-size: 20px;
          transition: .2s ease; }
          .employment .employment__wrapper .employment__inner .employment__block .employment__link:hover {
            color: #123a8d; }

.dormitory {
  margin-bottom: 80px; }
  .dormitory .dormitory__wrapper {
    display: flex;
    flex-direction: column; }
    .dormitory .dormitory__wrapper .dormitory__inner {
      display: flex;
      flex-direction: column;
      margin-bottom: 45px; }
      .dormitory .dormitory__wrapper .dormitory__inner:last-child {
        margin-bottom: 0; }
      .dormitory .dormitory__wrapper .dormitory__inner .dormitory__maps {
        display: flex;
        margin-bottom: 40px; }
        .dormitory .dormitory__wrapper .dormitory__inner .dormitory__maps .dormitory__btn {
          text-align: center;
          margin-right: 10px; }
          .dormitory .dormitory__wrapper .dormitory__inner .dormitory__maps .dormitory__btn:last-child {
            margin-right: 0; }
      .dormitory .dormitory__wrapper .dormitory__inner .dormitory__block {
        display: flex;
        flex-direction: column; }
        .dormitory .dormitory__wrapper .dormitory__inner .dormitory__block .dormitory__link {
          font-size: 20px;
          transition: .2s ease;
          margin-bottom: 8px; }
          .dormitory .dormitory__wrapper .dormitory__inner .dormitory__block .dormitory__link:hover {
            color: #123a8d; }
      .dormitory .dormitory__wrapper .dormitory__inner .dormitory__general {
        display: flex;
        justify-content: space-between; }
        .dormitory .dormitory__wrapper .dormitory__inner .dormitory__general .dormitory__description-left {
          display: flex;
          flex-direction: column;
          margin-right: 32px; }
          .dormitory .dormitory__wrapper .dormitory__inner .dormitory__general .dormitory__description-left .dormitory__text {
            max-width: 619px; }
          .dormitory .dormitory__wrapper .dormitory__inner .dormitory__general .dormitory__description-left .dormitory__payment {
            display: flex;
            justify-content: space-between;
            margin-top: 20px; }
            .dormitory .dormitory__wrapper .dormitory__inner .dormitory__general .dormitory__description-left .dormitory__payment .dormitory__payment-block {
              display: flex;
              flex-direction: column; }
              .dormitory .dormitory__wrapper .dormitory__inner .dormitory__general .dormitory__description-left .dormitory__payment .dormitory__payment-block .dormitory__amount {
                color: #222222;
                font-weight: 500;
                margin-top: 8px; }
        .dormitory .dormitory__wrapper .dormitory__inner .dormitory__general .dormitory__description-right .dormitory__images {
          width: 660px;
          height: 370px; }
        .dormitory .dormitory__wrapper .dormitory__inner .dormitory__general .dormitory__description-right .dormitory__images-one {
          background: url(../images/dormitoryOne.jpg);
          background-size: cover; }

.scholarship {
  margin-bottom: 80px; }
  .scholarship .scholarship__wrapper {
    display: flex;
    flex-direction: column; }
    .scholarship .scholarship__wrapper .scholarship__inner {
      display: flex;
      justify-content: space-between; }
      .scholarship .scholarship__wrapper .scholarship__inner .scholarship__card {
        display: flex;
        flex-direction: column;
        width: 410px;
        height: 300px;
        padding: 20px;
        border-radius: 5px;
        cursor: pointer; }
        .scholarship .scholarship__wrapper .scholarship__inner .scholarship__card .scholarship__link {
          color: #ffffff;
          font-weight: 700;
          max-width: 225px; }
      .scholarship .scholarship__wrapper .scholarship__inner .scholarship__card-one {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scholarshipOne.png) no-repeat;
        background-size: cover; }
        .scholarship .scholarship__wrapper .scholarship__inner .scholarship__card-one:hover {
          background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/scholarshipOne.png) no-repeat;
          background-size: cover; }
      .scholarship .scholarship__wrapper .scholarship__inner .scholarship__card-two {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scholarshipTwo.png) no-repeat;
        background-size: cover; }
        .scholarship .scholarship__wrapper .scholarship__inner .scholarship__card-two:hover {
          background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/scholarshipTwo.png) no-repeat;
          background-size: cover; }
      .scholarship .scholarship__wrapper .scholarship__inner .scholarship__card-three {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/scholarshipThree.png) no-repeat;
        background-size: cover; }
        .scholarship .scholarship__wrapper .scholarship__inner .scholarship__card-three:hover {
          background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/scholarshipThree.png) no-repeat;
          background-size: cover; }

.academic {
  margin-bottom: 80px; }
  .academic .academic__wrapper {
    display: flex;
    flex-direction: column; }
    .academic .academic__wrapper .academic__inner {
      display: flex;
      flex-direction: column;
      margin-top: 30px; }
      .academic .academic__wrapper .academic__inner .academic__block {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #9298A4;
        padding-bottom: 15px;
        margin-bottom: 30px; }
        .academic .academic__wrapper .academic__inner .academic__block .academic__text {
          color: #222222;
          font-weight: 700; }
        .academic .academic__wrapper .academic__inner .academic__block .academic__width {
          max-width: 560px;
          text-align: right; }

.tables {
  margin-bottom: 80px; }
  .tables .ritz .waffle a {
    color: inherit; }
  .tables .ritz .waffle .s2 {
    border-bottom: 1px SOLID #b7b7b7;
    border-right: 1px SOLID #cccccc;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Graphik LCG", sans-serif;
    font-size: 16px;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px; }
  .tables .ritz .waffle .s4 {
    border-bottom: 1px SOLID #b7b7b7;
    border-right: 1px SOLID #b7b7b7;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Graphik LCG", sans-serif;
    font-size: 16px;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px; }
  .tables .ritz .waffle .s1 {
    border-top: 1px SOLID #cccccc;
    border-bottom: 1px SOLID #cccccc;
    border-right: 1px SOLID #cccccc;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Graphik LCG", sans-serif;
    font-size: 16px;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 3px; }
  .tables .ritz .waffle .s0 {
    border-left: 1px SOLID #cccccc;
    border-top: 1px SOLID #cccccc;
    border-bottom: 1px SOLID #cccccc;
    border-right: 1px SOLID #cccccc;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: "Graphik LCG", sans-serif;
    font-size: 16px;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px; }
  .tables .ritz .waffle .s5 {
    border-left: 1px SOLID #cccccc;
    border-bottom: 1px SOLID #b7b7b7;
    border-right: 1px SOLID #b7b7b7;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Graphik LCG", sans-serif;
    font-size: 16px;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 2px 3px 2px 15px; }
  .tables .ritz .waffle .s3 {
    border-left: 1px SOLID #cccccc;
    border-bottom: 1px SOLID #b7b7b7;
    border-right: 1px SOLID #b7b7b7;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: "Graphik LCG", sans-serif;
    font-size: 16px;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 15px; }

.economic {
  margin-bottom: 80px; }
  .economic .economic__wrapper {
    display: flex;
    flex-direction: column; }

.documents {
  margin-bottom: 80px; }
  .documents .documents__wrapper {
    display: flex;
    flex-direction: column; }

.education {
  margin-bottom: 80px; }
  .education .education__wrapper {
    display: flex;
    flex-direction: column; }
    .education .education__wrapper .education__inner {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 30px;
      row-gap: 80px; }
      .education .education__wrapper .education__inner .education__block {
        display: flex;
        flex-direction: column; }
        .education .education__wrapper .education__inner .education__block .education__title {
          max-width: 330px; }
        .education .education__wrapper .education__inner .education__block .education__images {
          width: 350px;
          height: 220px;
          margin-bottom: 14px; }
        .education .education__wrapper .education__inner .education__block .education__radius {
          border-radius: 16px; }
        .education .education__wrapper .education__inner .education__block .education__line {
          width: 350px;
          height: 1px;
          background-color: #222222;
          margin-top: 15px;
          margin-bottom: 15px; }
        .education .education__wrapper .education__inner .education__block .education__subtitle {
          color: #222222;
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
          margin-bottom: 8px; }
        .education .education__wrapper .education__inner .education__block .education__column {
          display: flex;
          flex-direction: column; }
          .education .education__wrapper .education__inner .education__block .education__column .education__deadline {
            display: flex; }
            .education .education__wrapper .education__inner .education__block .education__column .education__deadline .education__deadline-block {
              display: flex;
              flex-direction: column;
              margin-right: 30px; }
              .education .education__wrapper .education__inner .education__block .education__column .education__deadline .education__deadline-block .education__text {
                font-size: 16px; }
              .education .education__wrapper .education__inner .education__block .education__column .education__deadline .education__deadline-block .education__color {
                color: #222222; }
          .education .education__wrapper .education__inner .education__block .education__column .education__indent {
            margin-bottom: 15px; }

.committee {
  margin-bottom: 80px; }
  .committee .committee__wrapper {
    display: flex;
    flex-direction: column; }
    .committee .committee__wrapper .committee__inner {
      display: flex;
      flex-direction: column; }
      .committee .committee__wrapper .committee__inner .committee__description {
        display: flex;
        margin-top: 20px; }
        .committee .committee__wrapper .committee__inner .committee__description .committee__block {
          display: flex;
          flex-direction: column;
          margin-right: 60px; }
          .committee .committee__wrapper .committee__inner .committee__description .committee__block .committee__general {
            color: #222222;
            font-size: 20px;
            font-weight: 500;
            max-width: 260px;
            margin-top: 8px; }

.training {
  margin-bottom: 80px; }
  .training .training__wrapper {
    display: flex;
    flex-direction: column; }
    .training .training__wrapper .training__inner {
      display: flex;
      flex-direction: column; }
      .training .training__wrapper .training__inner .training__block {
        border-bottom: 5px solid #1A54CA;
        background: #ffffff;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        padding: 50px 50px 75px;
        margin-bottom: 30px; }

.order {
  margin-bottom: 80px; }
  .order .order__wrapper {
    display: flex;
    flex-direction: column; }
    .order .order__wrapper .order__inner {
      display: flex;
      flex-direction: column; }
      .order .order__wrapper .order__inner .order__block {
        border-bottom: 5px solid #1A54CA;
        background: #ffffff;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        padding: 50px 50px 75px;
        margin-bottom: 30px; }

.guidance {
  margin-bottom: 80px; }
  .guidance .guidance__wrapper {
    display: flex;
    flex-direction: column; }
    .guidance .guidance__wrapper .guidance_inner {
      display: flex;
      flex-direction: column; }
      .guidance .guidance__wrapper .guidance_inner .guidance__block {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px; }
        .guidance .guidance__wrapper .guidance_inner .guidance__block .guidance__cursor {
          cursor: pointer; }
        .guidance .guidance__wrapper .guidance_inner .guidance__block .guidance__iframe {
          display: none; }
        .guidance .guidance__wrapper .guidance_inner .guidance__block .guidance__active {
          display: flex; }

.library {
  margin-bottom: 80px; }
  .library .library__wrapper {
    display: flex;
    flex-direction: column; }
    .library .library__wrapper .library__inner {
      display: flex;
      flex-direction: column; }
      .library .library__wrapper .library__inner .library__block {
        border-bottom: 5px solid #1A54CA;
        background: #ffffff;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        padding: 50px 50px 75px;
        margin-bottom: 30px; }
        .library .library__wrapper .library__inner .library__block .library__link {
          font-family: "Graphik LCG", sans-serif;
          color: #222222;
          font-size: 42px;
          font-weight: 700;
          line-height: 110%;
          transition: .2s ease; }
          .library .library__wrapper .library__inner .library__block .library__link:hover {
            color: #1A54CA; }
        .library .library__wrapper .library__inner .library__block .library__indent {
          margin-top: 10px; }

.saturdays {
  margin-bottom: 80px; }
  .saturdays .saturdays__wrapper {
    display: flex;
    flex-direction: column; }
    .saturdays .saturdays__wrapper .saturdays__inner {
      display: flex;
      flex-direction: column; }
      .saturdays .saturdays__wrapper .saturdays__inner .saturdays__indent {
        margin-top: 30px; }
      .saturdays .saturdays__wrapper .saturdays__inner .saturdays__block {
        display: flex; }
        .saturdays .saturdays__wrapper .saturdays__inner .saturdays__block .saturdays__description {
          margin-top: 15px;
          margin-left: 20px; }
          .saturdays .saturdays__wrapper .saturdays__inner .saturdays__block .saturdays__description .saturdays__text {
            max-width: 700px; }

.tryouts {
  margin-bottom: 80px; }
  .tryouts .tryouts__wrapper {
    display: flex;
    flex-direction: column; }
    .tryouts .tryouts__wrapper .tryouts__inner {
      display: flex;
      margin-bottom: 30px; }
      .tryouts .tryouts__wrapper .tryouts__inner:last-child {
        margin-bottom: 0; }
      .tryouts .tryouts__wrapper .tryouts__inner .tryouts__images {
        width: 600px;
        height: 300px;
        border-radius: 100%;
        margin-right: 30px; }
      .tryouts .tryouts__wrapper .tryouts__inner .tryouts__images-one {
        background: url(../images/tryoutsOne.png);
        background-size: cover; }
      .tryouts .tryouts__wrapper .tryouts__inner .tryouts__images-two {
        background: url(../images/tryoutsTwo.png);
        background-size: cover; }
      .tryouts .tryouts__wrapper .tryouts__inner .tryouts__images-three {
        background: url(../images/tryoutsThree.png);
        background-size: cover; }
      .tryouts .tryouts__wrapper .tryouts__inner .tryouts__images-four {
        background: url(../images/tryoutsFour.png);
        background-size: cover; }
      .tryouts .tryouts__wrapper .tryouts__inner .tryouts__images-five {
        background: url(../images/tryoutsFive.png);
        background-size: cover; }
      .tryouts .tryouts__wrapper .tryouts__inner .tryouts__images-six {
        background: url(../images/tryoutsSix.png);
        background-size: cover; }
      .tryouts .tryouts__wrapper .tryouts__inner .tryouts__images-seven {
        background: url(../images/tryoutsSeven.png);
        background-size: cover; }
      .tryouts .tryouts__wrapper .tryouts__inner .tryouts__images-eight {
        background: url(../images/tryoutsEight.png);
        background-size: cover; }
      .tryouts .tryouts__wrapper .tryouts__inner .tryouts__images-nine {
        background: url(../images/tryoutsNine.png);
        background-size: cover; }
      .tryouts .tryouts__wrapper .tryouts__inner .tryouts__description {
        display: flex;
        flex-direction: column;
        max-width: 900px; }
        .tryouts .tryouts__wrapper .tryouts__inner .tryouts__description .tryouts__block {
          display: flex;
          flex-direction: column;
          margin-bottom: 30px; }
          .tryouts .tryouts__wrapper .tryouts__inner .tryouts__description .tryouts__block .tryouts__title {
            margin-bottom: 11px; }
          .tryouts .tryouts__wrapper .tryouts__inner .tryouts__description .tryouts__block .tryouts__zeroing {
            margin-bottom: 0; }
          .tryouts .tryouts__wrapper .tryouts__inner .tryouts__description .tryouts__block .tryouts__text {
            text-align: justify;
            margin-top: 8px; }

.intro {
  margin-bottom: 80px; }
  .intro .intro__wrapper .intro__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px; }
    .intro .intro__wrapper .intro__block .intro__inner {
      display: flex;
      flex-direction: column; }
      .intro .intro__wrapper .intro__block .intro__inner .intro__title {
        color: #1B2B66;
        font-size: 52px;
        max-width: 365px;
        margin-bottom: 67px; }
      .intro .intro__wrapper .intro__block .intro__inner .intro__subtitle {
        color: #1B2B66;
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 6px; }
      .intro .intro__wrapper .intro__block .intro__inner .intro__additional-title {
        line-height: 114%;
        max-width: 324px; }

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  background-color: rgba(0, 0, 0, 0.7); }
  .modal .modal__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 100px; }
    .modal .modal__wrapper .modal__inner {
      display: flex;
      flex-direction: column; }
      .modal .modal__wrapper .modal__inner .modal__close {
        color: #1A54CA;
        font-size: 36px;
        font-weight: 700;
        opacity: 0.5;
        max-width: 25px;
        position: absolute;
        top: 0;
        right: 15px;
        transition: .2s ease;
        cursor: pointer; }
        .modal .modal__wrapper .modal__inner .modal__close:hover {
          opacity: 1; }
      .modal .modal__wrapper .modal__inner .modal__width {
        width: 100%;
        margin-top: 8px; }

.modal__emergence {
  display: flex; }

.footer {
  background: #1A54CA; }
  .footer .footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px; }
    .footer .footer__wrapper .footer__block {
      display: flex;
      flex-direction: column; }
      .footer .footer__wrapper .footer__block .footer__title {
        color: #ffffff;
        margin-bottom: 10px; }
      .footer .footer__wrapper .footer__block .footer__link {
        color: #7CA7FF;
        margin-bottom: 4px;
        transition: .2s ease; }
        .footer .footer__wrapper .footer__block .footer__link:hover {
          color: #ffffff; }
        .footer .footer__wrapper .footer__block .footer__link:last-child {
          margin-bottom: 0; }

/*# sourceMappingURL=style.css.map */
