@import "vars";
@import "mixin";

// TITLE
h1 {
  @include Graphik;
  color: $black;
  font-size: $font-size + 56;
  font-weight: $font-weight + 300;
  line-height: $line-heightTitle;
}

h2 {
  @include Graphik;
  color: $black;
  font-size: $font-size + 26;
  font-weight: $font-weight + 300;
  line-height: $line-heightTitle;
}

h3 {
  @include Graphik;
  color: $black;
  font-size: $font-size + 8;
  font-weight: $font-weight + 200;
  line-height: $line-heightTitle;
}

h4 {
  @include Graphik;
  color: $black;
  font-size: $font-size + 4;
  font-weight: $font-weight + 300;
  line-height: $line-heightTitle;
}

// TITLE

// TEXT
p {
  @include Graphik;
  color: $darkGray;
  font-size: $font-size + 4;
  font-weight: $font-weight;
  line-height: $line-heightText;
}

.simple__text {
  @include Graphik;
  color: $gray;
  font-size: $font-size;
  font-weight: $font-weight;
}

.subtitle {
  @include Graphik;
  color: $black;
  font-size: $font-size + 16;
  font-weight: $font-weight;

  margin-top: 3px;
  margin-bottom: 30px;
}

// TEXT

// LINK
a {
  @include Graphik;
  color: $blue;
  font-size: $font-size;
  font-weight: $font-weight;
}

.color__link {
  color: $blue !important;
}

// LINK

// FORM
input {
  @include Graphik;
  color: $gray;
  font-size: $font-size;
  font-weight: $font-weight;

  width: 391px;
  border: 1px solid $inputColor;
  border-radius: 8px;

  padding: 20px;

  margin-bottom: 8px;

  outline: none;
}

textarea {
  @include Graphik;
  color: $gray;
  font-size: $font-size;
  font-weight: $font-weight;

  width: 391px;
  height: 198px;
  border: 1px solid $inputColor;
  border-radius: 8px;

  padding: 20px;

  margin-bottom: 20px;

  outline: none;
  resize: vertical;
}

// FORM

// CONTAINER
.centering {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.container {
  width: 1250px;
}

.container__additional {
  width: 1290px;
}

// CONTAINER

// BUTTON
.btn {
  @include Graphik;
  font-size: $font-size - 2;
  font-weight: $font-weight;
  line-height: 14px;

  border-radius: 100px;
  border: none;

  padding: 10px 14px;
}

.btn__form {
  @include Graphik;
  color: $white;
  font-size: $font-size;
  font-weight: $font-weight;

  width: 195px;

  background: $blue;
  border: none;
  border-radius: 100px;

  padding: 20px 32px;

  transition: .2s ease;

  &:hover {
    background: $hoverLink;
  }
}

// BUTTON

// INDENT
.zeroing__indent {
  margin-top: 0 !important;
}

.text__indent {
  margin-bottom: 8px !important;
}

// INDENT

// PICTURE
.teachers__images {
  width: 200px;
  height: 200px;

  border-radius: 100px;

  margin-bottom: 14px;
}

.teachers__images-one {
  background: url(#{$images}/teachersOne.jpg);
  background-size: cover;
}

.teachers__images-two {
  background: url(#{$images}/teachersTwo.jpg);
  background-size: cover;
}

.teachers__images-three {
  background: url(#{$images}/teachersThree.jpg);
  background-size: cover;
}

.teachers__images-four {
  background: url(#{$images}/teachersFour.jpg);
  background-size: cover;
}

.teachers__images-five {
  background: url(#{$images}/teachersFive.jpg);
  background-size: cover;
}

.teachers__images-six {
  background: url(#{$images}/teachersSix.jpg);
  background-size: cover;
}

.teachers__images-seven {
  background: url(#{$images}/teachersSeven.jpg);
  background-size: cover;
}

.teachers__images-eight {
  background: url(#{$images}/teachersEight.jpg);
  background-size: cover;
}

.teachers__images-nine {
  background: url(#{$images}/teachersNine.jpg);
  background-size: cover;
}

.teachers__images-ten {
  background: url(#{$images}/noPicture.png);
  background-size: cover;
}

.teachers__images-eleven {
  background: url(#{$images}/noPicture.png);
  background-size: cover;
}

.teachers__images-twelve {
  background: url(#{$images}/teachersTwenty.jpg);
  background-size: cover;
}

.teachers__images-thirteen {
  background: url(#{$images}/teachersTen.jpg);
  background-size: cover;
}

.teachers__images-fourteen {
  background: url(#{$images}/teachersEleven.jpg);
  background-size: cover;
}

.teachers__images-fifteen {
  background: url(#{$images}/teachersTwelve.jpg);
  background-size: cover;
}

.teachers__images-sixteen {
  background: url(#{$images}/teachersThirteen.jpg);
  background-size: cover;
}

.teachers__images-seventeen {
  background: url(#{$images}/noPicture.png);
  background-size: cover;
}

.teachers__images-eighteen {
  background: url(#{$images}/teachersFourteen.jpg);
  background-size: cover;
}

.teachers__images-nineteen {
  background: url(#{$images}/teachersFifteen.jpg);
  background-size: cover;
}

.teachers__images-twenty {
  background: url(#{$images}/teachersSixteen.jpg);
  background-size: cover;
}

.teachers__images-twenty-one {
  background: url(#{$images}/teachersSeventeen.jpg);
  background-size: cover;
}

.teachers__images-twenty-two {
  background: url(#{$images}/teachersEighteen.jpg);
  background-size: cover;
}

.teachers__images-twenty-three {
  background: url(#{$images}/noPicture.png);
  background-size: cover;
}

.teachers__images-twenty-four {
  background: url(#{$images}/noPicture.png);
  background-size: cover;
}

.teachers__images-twenty-five {
  background: url(#{$images}/teachersNineten.jpg);
  background-size: cover;
}

.services__images-one {
  background: url(#{$images}/stonemason.jpg) no-repeat;
  background-size: cover;
}

.services__images-two {
  background: url(#{$images}/web.jpg) no-repeat;
  background-size: cover;
}

.services__images-three {
  background: url(#{$images}/autocad.jpg) no-repeat;
  background-size: cover;
}

.services__images-four {
  background: url(#{$images}/accountant.jpg) no-repeat;
  background-size: cover;
}

.services__images-five {
  background: url(#{$images}/barber.jpg) no-repeat;
  background-size: cover;
}

// PICTURE