// Color
$white: #ffffff;
$black: #222222;
$gray: #9298A4;
$lightGray: #F4F8FF;
$footerLink: #7CA7FF;
$verylightGray: #F7F7F7;
$blue: #1A54CA;
$darkGray: #4D4D4D;
$hoverLink: #123a8d;
$background: #F2F5FA;
$inputColor: #D4D9E2;
$teachersSubtitle: #848484;
// Color

// Text
$font-size: 16px;
$font-weight: 400;
$line-heightTitle: 110%;
$line-heightText: 135%;
//Text

// Images
$images: "../images";
// Images

